.header {
  height: 65vh;
  background-color: blueviolet;
  color: $white-color;
  font-size: 1.4rem;
  &__contact {
    display: flex;
    justify-content: space-between;
    background-color: $blue-color;
    align-items: center;

    &--phone-email {
      margin-left: 8rem;
      .fas,
      .far {
        margin-right: 1.2rem;
        font-size: 1.8rem;
      }
      .far {
        margin-left: 1.2rem;
      }
    }

    &--socail {
      display: flex;
      list-style: none;
      margin-right: 8rem;

      li {
        padding: 1.3rem 0 1.3rem 0;

        a {
          color: $white-color;
          padding: 1.3rem;
          cursor: pointer;
        }
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-color;
    list-style: none;
    &--logo {
      color: $blue-color;
      margin-left: 8rem;
      text-decoration: none;
      font-family: "Montserrat";
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      cursor: pointer;
      span {
        color: $orange-color;
        float: right;
      }
    }
    &--list {
      display: flex;
      list-style: none;
      margin-right: 6rem;
      font-size: 1.6rem;
      &--item {
        padding: 2.4rem 0rem;

        margin-right: 1.5rem;
        &-link {
          color: $text-color;
          text-decoration: none;
          cursor: pointer;
          padding: 2rem;
          position: relative;
          z-index: 1;
          transition: color 0.5s;

          &:hover {
            color: $white-color;
          }
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0;
            background-color: $orange-color;
            z-index: -1;
            transform: scale(0) rotate(360deg);
            transition: all 0.5s;
            border-radius: 2rem;
          }
          &:hover::before {
            transform: scale(1) rotate(0deg);
          }
        }
      }
    }
  }
  &__imageSilder {
    height: 85%;
    position: relative;
    z-index: 1;
    &--arrows {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 3.6rem;
      .fas {
        padding: 1rem 1.5rem;
        transition: all 0.4s;
        color: darkviolet;
        cursor: pointer;
        &:hover {
          background-color: rgba($color: #000000, $alpha: 0.5);
        }
      }
    }
    &--images {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;

      &-img-1 {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.images-content {
  color: red;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  &--title {
    font-size: 4rem;
    color: seagreen;
  }
}
